body {
    width: 100vb;
    height: 100vh;
    background-color: aliceblue;
    align-items: center;
}

.header {
    color: black;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;

}

#grid-container {
    border: 10px solid black;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

#side-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.button {
    background-color: aliceblue;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: grey;
    border-radius: 10px;
    font-size: larger;
    margin: 4px 2px;
    padding: 15px 50px;
    border: 3px solid black;
}

.button:active {
    background-color: grey;
}

.square {
    padding: 1em;
    border: 1px solid black;
    text-align: center;
    background-color: white; /* initial colour */
}