body {
    width: 100vb;
    height: 100vh;
}

#main-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#grid-container {
    border: 10px solid black;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

#side-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.square {
    padding: 1em;
    border: 1px solid black;
    text-align: center;
    background-color: white; /* initial colour */
}